.rightCol{
    float:right;
}

.inputSearch{
    width:200px;
    height:20px;
    outline:none;
    border-radius:10px;
    background: url(../image/search.png) 4px 0px no-repeat #888;
    padding: 3px 5px 3px 22px;
    color: #666;
    border: 0;
    margin-top: 2px;
    transition: all .5s;
}


.logo{
    width:120px;
    display:inline-block;
    padding: 3px 20px;
    height: 34px;
    line-height: 34px;
    color: #ccc;
    font-weight: 700;
}

.header{
    height:50px;
    line-height: 50px;
}